@import '~views/mixins.scss';

.play {
    font-family: 'lato';
    background: #CBE673;
    border-radius: 4px;
    width: 120px;
    height: 60px;
    position: relative;
    margin: 34px auto 0;
    cursor: pointer;

    &:after {
        content: '';
        width: 0;
        height: 0;
        border-top: 14px solid transparent;
        border-left: 20px solid #1B140D;
        border-bottom: 14px solid transparent;
        position: absolute;
        top: 16px;
        left: 54px;
    }
}

.stop {
    composes: play;

    &:after {
        border: none;
        width: 20px;
        height: 20px;
        background: #1B140D;
        left: 50px;
        top: 20px;
    }
}
